<!DOCTYPE html>
<html ng-app="directive">

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<script type="text/javascript" src="js/angular.js"></script>
	<body>
		<div expend data-type="456" expend-data="456"></div>
		<div expend></div>
		<div expend></div>
		<expend></expend>
		<!--以前的方式来写这个组件-->
		<!--<div ng-controller="directiveCtrl">
			<div class="title" ng-click="toggle()">{{title}}</div>
			<div class="body" ng-show="showMe">这是内容</div>
		</div>
		<div ng-controller="directive2Ctrl">
			<div class="title" ng-click="toggle()">{{title}}</div>
			<div class="body" ng-show="showMe">这是内容</div>
		</div>-->
	</body>
	<script>
		var app = angular.module('directive', []);
		app.directive('expend', [function() {
			return {
				restrict: 'EA', //标签和属性的写法激活此组件
				replace: true,
				transclude: true,
				scope: {
					text: '=expendData',
				},
				template: '<div><div class="title" ng-click="toggle()">{{title}}</div><div class="body" ng-show="showMe">这是内容</div></div>',
				//				'<div>' +
				//					'<div class="title" ng-click="toggle()">{{title}}</div>' +
				//					'<div class="body" ng-show="showMe" ng-transclude></div>' +
				//					'</div>'
				link: function(scope, element, attrs) {
						console.log(scope);
						scope.title = "我们的第一个组件";
						scope.showMe = true;
						scope.toggle = function() {
						scope.showMe = !scope.showMe;
					}
				}
			}
		}])
/*		app.controller('directiveCtrl', ['$scope', function($scope) {
			$scope.title = "我们的第一个组件";
			$scope.showMe = true;
			$scope.toggle = function() {
				$scope.showMe = !$scope.showMe;
			}
		}])
		app.controller('directive2Ctrl', ['$scope', function($scope) {
			$scope.title = "我们的第一个组件";
			$scope.showMe = true;
			$scope.toggle = function() {
				$scope.showMe = !$scope.showMe;
			}
		}])*/
	</script>

</html>
